.title{
    font-size: 20px;
}
.choose{
    display: flex;
    justify-content: space-between;
}
.inputBox{
    all: unset;
    display: flex;
    align-items: center;
    width: 500px;
    height: 64px;
    border: 1px solid;
    border-radius: 6px;
}

.input{
    all: unset;
    width: 100%;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    padding: 12x;
}