.body{
    border-radius: 14px;
    width: 90%;
    height: 140px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 20px;
    height: 90px;
}
.title{
    font-size: 18px;
    text-align: start;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.click{
    all: unset;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.movClick{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color:white;
    position: absolute;
}
.boxSelect{
    display: flex;
    align-items: center;
    position: relative;
}
.select{
    all: unset;
    padding-right: 22px;
}
.arrow{
    position: absolute;
    right: 0;
    pointer-events: none;
}
@media (max-width: 550px){
    .title{
        font-size: 16px
    }
    .theme{
        font-size: 14px;
    }
    .flex{
        font-size: 14px;
    }
    .click{
        width: 34px;
        height: 17px;
    }
    .movClick{
        width: 17px;
        height: 17px;
        
    }
}
