.title{
    font-size: 20px;
}
.choose{
    display: flex;
    justify-content: space-between;
}
.chooseButton{
    all: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 242px;
    height: 64px;
    border: 1px solid;
    border-radius: 6px;
}
.radioButton{
    margin-left: 20px;
    width: 16px;
    height: 16px;
    border: 2px solid #3067B9;
    border-radius: 100%;
}
@media (max-width: 768px){
    .chooseButton{
        height: 50px;
    }
    .title{
        font-size: 16px;
    }
    .radioButton{
        margin-left: 8px;
    }
}
