.title{
    font-size: 20px;
}
.choose{
    display: flex;
    justify-content: space-between;
}
.inputBox{
    all: unset;
    display: flex;
    align-items: center;
    width: 500px;
    height: 64px;
    border: 1px solid;
    border-radius: 6px;
    position: relative;
}

.input{
    all: unset;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 18px 20px;
}
.arrow{
    position: absolute;
    right: 20px;
    pointer-events: none;
}