.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 16;
    margin: auto;
    height: 82vh;
    overflow: auto;
}
.headTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top-left-radius: 14px;
    border-bottom: 1px solid;
}
.date{
    width: 16%;
    padding-left: 18px;
}
.description{
    flex:1;
    padding-left: 18px;
    min-width: 100px;
}
.cca{
    width: 112px;
    padding-left: 18px;
    text-align: center;
}

@media (max-width: 947px){
    .headTable{
        font-size: 14px;
    }
     .date{
        width: 82px;
        padding-left: 4px;
    }
    .cca{
        width: 82px;
        padding-left: 4px;
    }
}
@media (max-width: 768px){
    .headTable{
        font-size: 12px;
    }
}
@media (max-width: 550px){
    .headTable{
        font-size: 10px;
    }
    .date{
        width: 62px;
        padding-left: 4px;
    }
    .cca{
        width: 62px;
        padding-left: 4px;

    }
    .description{
        min-width: 80px;
    }
}